/* RESET */
h1, h2, h3, p, li, body {
	margin: 0;
	padding: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
/* /RESET */

.column-gap-8 {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.column-gap-16 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.main-content-column {
	display: flex;
	flex-direction: column;
	gap: 32px;

	@media (max-width: 750px) {
		gap: 16px;
	}
}

nav {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	gap: 8px;

	ul {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 12px;
	}

	li {
		font-size: 20px;
		list-style-type: none;
		padding-bottom: 2px;
		text-decoration: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		white-space: nowrap;

		a {
			border: 1px solid var(--brand_gray);
			border-radius: 4px;
			background-color: var(--brand_gray);
			color: var(--brand_light);
			padding: 8px;
			text-decoration: none;
		}
		a:visited {
			color: var(--brand_light);
		}
	}

	@media (max-width: 600px) {
		flex-direction: column;
		gap: 8px;
		align-items: center;
	}
}

/*.small_big_columns {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 8px;

	img {
		max-width: 100%;
	}

	:first-child {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 20%;
		height: auto;
		max-width: 100%;
	}

	:not(:first-child) {
		flex-grow: 1;
		flex-basis: 80%;
	}
}*/

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	--brand_orange: #f56800;
	--brand_gray: #626262;
	--brand_light: #eeeae7;
	--brand_white: #f9f9f9;
	--brand_dark_green: #2E7D32;

	background-color: var(--brand_light);
	font-family: "Georgia";
	font-size: 18px;
}

.header {
	display: flex;
	justify-content: start;
	gap: 32px;
	padding: 32px;
	padding-bottom: 0;

	@media (max-width: 750px) {
		flex-direction: column;
		gap: 16px;
		align-items: center;
		padding: 16px;
		padding-bottom: 0;
	}
}

.sans-serif {
	font-family: "Tahoma", "Verdana", sans-serif;
}

h1, h2, h3 {
	font-family: "Tahoma", "Verdana", sans-serif;
	color: var(--brand_dark_green);
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 20px;
	color: var(--brand_gray);
}

.content {
	display: flex;
	width: 100%;
	max-width: 800px;
	flex-direction: column;
	align-items: stretch;

	background-color: var(--brand_white);
	min-height: 100vh;
	padding-bottom: 64px;
}

.padded_content {
	padding: 0 32px;
}

.logo {
	min-width: 100px;
	max-height: 20vh;
	max-width: 100%;
}

a {
	color: var(--brand_orange);
}
a:visited {
	color: #b34c00;
}

.icon {
	vertical-align: middle;
	height: 16px;
	color: var(--brand_dark_green);
	fill: currentColor;
}
.icon path {
	fill: var(--brand_dark_green);
}

iframe {
	height: 700px;
	width: 100%;
	border: none
}

@media (max-width: 680px) {
	iframe {
		height: 900px;
	}
}

.image-and-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;

	@media (max-width: 750px) {
		flex-direction: column;
		gap: 8px;
	}
}

.image_container {
	img {
		max-width: 300px;
	}

	@media (max-width: 750px) {
		max-width: 100%;
		text-align: center;
	}
}
