/* RESET */
h1, h2, h3, p, li, body {
	margin: 0;
	padding: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
/* /RESET */

:root {
	--large-font-size: 32px;
	--medium-header-font-size: 28px;
	--large-gap: 32px;
	--medium-gap: 16px;
}

@media (max-width: 750px) {
	:root {
		--large-font-size: 24px;
		--medium-header-font-size: 20px;
		--large-gap: 16px;
		--medium-gap: 8px;
	}
}

.column-gap-16 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.main-content-column {
	display: flex;
	flex-direction: column;
	gap: var(--large-gap);
}

.nav-main {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	gap: 8px;

	ul {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 12px;
	}

	li {
		font-size: 20px;
		list-style-type: none;
		padding-bottom: 2px;
		text-decoration: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		white-space: nowrap;

		a {
			border: 1px solid var(--brand_gray);
			border-radius: 4px;
			background-color: var(--brand_gray);
			color: var(--brand_light);
			padding: 8px;
			text-decoration: none;
		}
		a:visited {
			color: var(--brand_light);
		}
	}

	@media (max-width: 600px) {
		flex-direction: column;
		gap: 8px;
		align-items: center;

		font-size: 16px;

		li {
			font-size: 16px;
		}
	}
}

.nav-services {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 4px;


	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;

		@media (max-width: 750px) {
			justify-content: center;
		}
	}

	li {
		list-style-type: none;
		display: flex;
		align-items: center;

		font-size: 17px;
		letter-spacing: .05em;
	}

	li:not(:last-child)::after {
		content: "|";
		margin-left: 8px;
		color: var(--brand_light);
	}
}

.nav-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;

	@media (max-width: 750px) {
		flex-direction: column;
		align-items: center;
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	--brand_orange: #f56800;
	--brand_gray: #626262;
	--brand_light: #eeeae7;
	--brand_white: #f9f9f9;
	--brand_dark_green: #2E7D32;

	background-color: var(--brand_light);
	font-family: "Georgia";
	font-size: 18px;
}

.header {
	display: flex;
	justify-content: start;
	gap: var(--large-gap);
	padding: 32px;
	padding-bottom: 0;

	@media (max-width: 750px) {
		flex-direction: column;
		align-items: center;
		padding: 16px;
		padding-bottom: 0;
	}
}

.sans-serif {
	font-family: "Tahoma", "Verdana", sans-serif;
}

h1, h2, h3 {
	font-family: "Tahoma", "Verdana", sans-serif;
	color: var(--brand_dark_green);
	text-align: center;
}
h1 {
	font-size: var(--large-font-size);
}
h2 {
	font-size: var(--medium-header-font-size);
}

.content {
	display: flex;
	width: 100%;
	max-width: 800px;
	flex-direction: column;
	align-items: stretch;

	background-color: var(--brand_white);
	min-height: 100vh;
	padding-bottom: 64px;
}

.padded_content {
	padding: 0 32px;
}

.logo {
	min-width: 100px;
	max-height: 20vh;
	max-width: 100%;
}

a {
	color: var(--brand_orange);
}
a:visited {
	color: #b34c00;
}

.icon {
	vertical-align: middle;
	height: 16px;
	color: var(--brand_dark_green);
	fill: currentColor;
}
.icon path {
	fill: var(--brand_dark_green);
}

.image-and-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;

	@media (max-width: 750px) {
		flex-direction: column;
		gap: 8px;
	}
}

.image_container {
	img {
		max-width: 300px;
	}

	@media (max-width: 750px) {
		max-width: 100%;
		text-align: center;
	}
}

.centered-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--medium-gap);
}
